.row-layout {
    display: flex;
}
.master-view-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.grid {
    min-width: 600px;
    min-height: 300px;
}
