@page "/"
@using Template4o.Services;
@using Template4o.Models;
@inject IDataService dataService
@inject IJSRuntime JS

<div class="row-layout master-view-container">
    <IgbGrid Data="people" PrimaryKey="Id" AutoGenerate="false" RowEditable=true Width="1200px" Height="600px" class="ig-typography grid" master-view-scope>
        <IgbColumn Field="First_Name" DataType=GridColumnDataType.String InlineEditorTemplateScript="textInputInlineEditorTemplate"></IgbColumn>
        <IgbColumn Field="Last_Name" DataType=GridColumnDataType.String InlineEditorTemplateScript="selectInlineEditorTemplate"></IgbColumn>
        <IgbColumn Field="Friends" BodyTemplateScript="comboBodyTemplate" InlineEditorTemplateScript="comboInlineEditorTemplate"></IgbColumn>
        <IgbColumn Field="BirthDay" DataType=GridColumnDataType.Date InlineEditorTemplateScript="dateInputInlineEditorTemplate"></IgbColumn>
        <IgbColumn Field="HasFriends" DataType="GridColumnDataType.Boolean" InlineEditorTemplateScript="switchInlineEditorTemplate"></IgbColumn>
        <IgbColumn Field="Age" DataType="GridColumnDataType.Number" InlineEditorTemplateScript="numberInputInlineEditorTemplate"></IgbColumn>
    </IgbGrid>
</div>

@code {
    public List<Person> people { get; set; } = new();
    public List<Friend> friends { get; set; } = new();
    private IJSObjectReference module;

    protected override async Task OnAfterRenderAsync(bool isFirstRender)
    {
        if (isFirstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./Pages/MasterView.razor.js");
        }
        if (module != null)
        {
            await JS.InvokeAsync<MasterView>("TransferMasterView", this);
        }

        await base.OnAfterRenderAsync(isFirstRender);
    }

    protected override async Task OnInitializedAsync()
    {
        people = await dataService.GetPeople();
        friends = await dataService.GetFriends();
    }
}
