.column-layout {
  display: flex;
  flex-direction: column;
}
.master-view-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  height: 100%;
}
.h2 {
  text-align: center;
  margin: 20px;
  height: max-content;
  min-width: min-content;
}
.grid {
  min-width: 600px;
  min-height: 300px;
  flex-grow: 1;
  flex-basis: 0;
}
